#dataenter{
	padding: 10% 4% 10% 4% !important;
	display: none;
}
#tableview{
	/*display: none;*/
}
.inpt{
	display: block;
	margin-top: 4%;
	margin-bottom: 4%; 
}
.center-table{
	text-align: center;
}
input#mNumber {
    display: inline-block;
    width: 80%;
}
.cc-picker.cc-picker-code-select-enabled{
	margin-right: 8px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
ul.cc-picker-code-list {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.50rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input {
	margin-bottom: 8px;
}